@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

article {
    width: 411px;
    height: 354px;
    background-color: #f4f4f4;
    float: left;
    margin-bottom: 100px;
}

article:hover {
    box-shadow: 10px 10px #f8e8e8;
    cursor: url("img/pointer.png"), auto;
    margin-top: -10px;
    opacity: 1 !important;
}

article h4 {
    position: absolute;
    margin-top: 8px;
    width: 0;
    height: 0;
    color: #ffffff;
    font-size: 20px;
    margin-left: 8px;
    margin-right: auto;
    font-weight: normal;
    line-height: 20.8px;
    z-index: 2;
}

article h4 spam {
    font-size: 24px;
    font-weight: 700;
    line-height: 20.8px;
}

article h6 {
    position: absolute;
    margin-top: 0%;
    width: 0;
    height: 0;
    border-top: 130px solid #c2252c;
    border-right: 130px solid transparent;
    color: #ffffff;
    z-index: 1;
}

article h3 {
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

article:not(:last-child) {
    margin-right: 18px;
}

article:nth-child(even) {
    width: 237px;
    height: 354px;
    background-color: #f4f4f4;
}

article:nth-child(even) img {
    width: 237px;
    height: 292px;
}

article img {
    width: 410px;
    height: 292px;
    object-fit: cover;
    opacity: 50%;
}

article img:hover {
    opacity: 1;
}

section img {
    justify-content: space-between;
    margin: 10px;
    width: 934px;
    height: 576px;
    position: relative;
    object-fit: cover;
}

.description_container {
    background-color: #f4f4f4;
    height: 148px;
    width: 294px;
    opacity: 0.9;
    position: absolute;
    bottom: 30px;
    margin-left: 602px;
}

.description_container h1 {
    margin-left: 22px;
    margin-right: auto;
    width: 250px;
    font-size: 28px;
    margin-bottom: 0%;
    margin-top: 10px;
    font-weight: normal;
    line-height: 39.2px;
}

.description_container h2 {
    font-size: 16px;
    margin-left: 22px;
    margin-right: auto;
    margin-top: 0%;
    font-weight: 400;
}

.description_container h3 {
    margin-left: 22px;
    margin-right: auto;
    font-size: 20px;
    color: #c2252c;
    font-weight: 400;
}

.description_container img {
    height: 11.64px;
    width: 15.2px;
    float: right;
    margin-right: 26.39px;
}

.description {
    background-color: #f4f4f4;
    height: 577px;
    width: 494px;
    opacity: 0.9;
    position: absolute;
    top: 0%;
    margin-top: 17.5px;
    margin-left: 100px;
}

.description h1 {
    font-size: 56px;
    margin-left: auto;
    margin-right: auto;
    width: 374px;
    line-height: 67.2px;
}

.description p {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 374px;
    font-weight: 400;
}

.shop_button {
    background-color: #c2252c;
    width: 374px;
    height: 70px;
    position: absolute;
    margin-left: 60px;
    bottom: 63.15px;
    color: #f4f4f4;
    font-size: 20px;
    border: none;
    font-weight: 400;
    box-shadow: 10px 10px #f3d3d5;
}

.shop_button:hover {
    cursor: url("img/pointer.png"), auto;
}

.Limited-time {
    margin-top: 100px;
    margin-bottom: 52px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.cards_container {
    flex-direction: row;
    justify-content: left;
    margin-left: 40px;
    margin-right: auto;
}
