@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

article {
    width: 411px;
    height: 354px;
    background-color: #f4f4f4;
    float: left;
}

article:not(:last-child){
    margin-right: 18px;
}

article:nth-child(even) {
    width: 237px;
    height: 354px;
    background-color: #f4f4f4;
}

article:nth-child(even) img {
    width: 237px;
    height: 237px;
}

article img {
    width: 410px;
    height: 292px;
}

secsion img {
    justify-content: space-between;
    margin: 10px;
    width: 934px;
    height: 576px;
    position: relative;
}

.description_container {
    background-color: #f4f4f4;
    height: 148px;
    width: 294px;
    opacity: 0.9;
    padding-top: 10px;
    padding-left: 22px;
    padding-left: 22px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 30px;
    margin-left: 602px;
}

.img_description {
    font-size: 16px;
}

.img_price {
    font-size: 20px;
    color: #c2252c;
}

.arrow {
    height: 11.64px;
    width: 15.2px;
    position: absolute;
    left: 250px;
    bottom: 27px;
}

.description {
    background-color: #f4f4f4;
    height: 576px;
    width: 494px;
    opacity: 0.9;
    position: absolute;
    top: 0%;
    margin-top: 17.5px;
    margin-left: 100px;
}

.shop_button {
    background-color: #c2252c;
    width: 374px;
    height: 70px;
    position: absolute;
    margin-left: 60px;
    bottom: 63.15px;
}

.Limited-time {
    margin: 120px;
    text-align: center;
}

.cards_container {
   flex-direction: row;
   justify-content:left;
   margin-left: 40px;
   margin-right: auto;
}
