/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

article {
    width: 411px;
    height: 354px;
    background-color: #f4f4f4;
    float: left;
}

article:not(:last-child) {
    margin-right: 18px;
}

article:nth-child(even) {
    width: 237px;
    height: 354px;
    background-color: #f4f4f4;
}

article:nth-child(even) img {
    width: 237px;
    height: 237px;
}

article img {
    width: 410px;
    height: 292px;
}

secsion img {
    justify-content: space-between;
    margin: 10px;
    width: 934px;
    height: 576px;
    position: relative;
}

.description_container {
    background-color: #f4f4f4;
    height: 148px;
    width: 294px;
    opacity: 0.9;
    position: absolute;
    bottom: 30px;
    margin-left: 602px;
}

.description_container h1 {
    margin-left: 22px;
    margin-right: auto;
    width: 250px;
    font-size: 28px;
    margin-bottom: 0%;
    margin-top: 10px;
    font-weight: normal;
}

.description_container h2 {
    font-size: 16px;
    margin-left: 22px;
    margin-right: auto;
    width: 222px;
    margin-top: 0%;
}

.description_container h3 {
    margin-left: 22px;
    margin-right: auto;
    font-size: 20px;
    color: #c2252c;
}

.description_container img {
    height: 11.64px;
    width: 15.2px;
    float: right;
    margin-right: 26.39px;
}

.description {
    background-color: #f4f4f4;
    height: 576px;
    width: 494px;
    opacity: 0.9;
    position: absolute;
    top: 0%;
    margin-top: 17.5px;
    margin-left: 100px;
}

.description h1 {
    font-size: 56px;
    font-family: "Poppins", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 374px;
}

.description p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 374px;
}

.shop_button {
    background-color: #c2252c;
    width: 374px;
    height: 70px;
    position: absolute;
    margin-left: 60px;
    bottom: 63.15px;
    color: #f4f4f4;
    font-size: 20px;
    border: none;
}

.shop_button:hover {
    padding: 10px;
    box-shadow: 10px 10px #f3d3d5;
    cursor:url("img/pointer.png");
   
}

.Limited-time {
    margin-top: 100px;
    margin-bottom: 52px;
    text-align: center;
}

.cards_container {
    flex-direction: row;
    justify-content: left;
    margin-left: 40px;
    margin-right: auto;
}
